<app-widget>
  <app-widget-header>
    <app-widget-header-title>{{title()}} </app-widget-header-title>

    <app-widget-header-subtitle>{{subtitle()}}</app-widget-header-subtitle>

    <app-widget-header-actions>
      <button matButton>LIKE</button>
      <button matButton>SHARE</button>
    </app-widget-header-actions>
  </app-widget-header>

  <app-widget-content>


<app-flip-card>
  <app-flip-card-front>
    <h2>Card Front empty</h2>
  </app-flip-card-front>
  <app-flip-card-back>
    <h2>Card Back empty</h2>
  </app-flip-card-back>
</app-flip-card>

  </app-widget-content>

  <app-widget-footer> This is a footer </app-widget-footer>
</app-widget>
