<p>siganal-on-services works!</p>

{{ text() }} -- {{ textCalculated() }}

Person : {{testPerson.firstName}} {{testPerson.lastName}} - {{testPerson.role}}
<br>
<button (click)="testName()"> test name </button>

inputs
<app-test-inputs [user]="testPerson"></app-test-inputs>

<div *ngIf="roles?.length; else noRoles">
  <h3>Roles</h3>
  <select (change)="onRoleSelection($event)">
    <option [value]="null"></option>

    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
  </select>

  @for (item of usersFiltered(); track $index) {
  <p>{{ item.firstName }}, {{ item.lastName }} - {{ item.role }}</p>
  }
</div>



<ng-template #noRoles>
  <p>No hay roles definidos.</p>
</ng-template>
