<p>siganal-on-services works!</p>
@if (isLoading()) {
<div>LOADING...</div>
}

<a routerLink="/">Home</a>
<div *ngIf="roles?.length; else noRoles">
  <h3>Roles</h3>
  <select (change)="onRoleSelection($event)">
    <option value="">Todos</option>

    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
  </select>

  @for (item of usersFiltered(); track $index) {
  <p>{{ item.firstName }}, {{ item.lastName }} - {{ item.role }}</p>
  }
</div>

<ng-template #noRoles>
  <p>No hay roles definidos.</p>
</ng-template>
